<template>
  <div>
    <form action="" @keyup.enter="addRedirect">
      <div class="modal-card" style="width: auto">
        <header class="modal-card-head">
          <p class="modal-card-title">New redirect</p>
          <b-button
            class="button"
            type="button"
            icon-right="close"
            @click="$parent.close()"
          />
        </header>
        <section class="modal-card-body">
          <b-field label="Shortcut">
            <b-input
              ref="shortcutInput"
              v-model="redirect.shortcut"
              placeholder="Shortcut text"
              icon="key"
              required
            >
            </b-input>
          </b-field>

          <b-field label="URL">
            <b-input
              v-model="redirect.url"
              placeholder="Full URL"
              icon="arrow-decision"
              required
            >
            </b-input>
          </b-field>
        </section>
        <footer class="level-right modal-card-foot">
          <b-button
            class="level-item button is-primary"
            icon-left="plus"
            @click="addRedirect"
            >Add</b-button
          >
        </footer>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      redirect: {
        shortcut: '',
        url: ''
      }
    }
  },

  mounted() {
    this.$refs.shortcutInput.focus()
  },

  methods: {
    async addRedirect() {
      try {
        await this.$store.dispatch('redirects/createRedirect', this.redirect)
        this.$emit('redirect-added')
      } catch (e) {} // keep the modal open
    }
  }
}
</script>
