<template>
  <section>
    <b-table
      :data="tableData"
      :columns="columns"
      :striped="isStriped"
      :hoverable="isHoverable"
      :mobile-cards="isMobileCard"
      :paginated="isPaginated"
      :per-page="perPage"
      :current-page.sync="currentPage"
      :pagination-simple="isPaginationSimple"
      :pagination-position="paginationPosition"
      :default-sort-direction="defaultSortDirection"
      :sort-icon="sortIcon"
      :sort-icon-size="sortIconSize"
      default-sort="key"
      aria-next-label="Next page"
      aria-previous-label="Previous page"
      aria-page-label="Page"
      aria-current-label="Current page"
      @click="modifyRedirect"
    >
      <b-input
        v-if="!props.column.numeric"
        slot="searchable"
        v-model="props.filters[props.column.field]"
        slot-scope="props"
        placeholder="Search..."
        icon="magnify"
        size="is-small"
      />
    </b-table>
  </section>
</template>

<script>
export default {
  props: {
    tableData: {
      type: Array,
      default: () => {
        return []
      },
      required: false
    }
  },
  data() {
    return {
      columns: [
        {
          field: 'shortcut',
          label: 'Shortcut',
          searchable: true,
          sortable: true
        },
        {
          field: 'url',
          label: 'URL',
          searchable: true,
          sortable: true
        }
      ],
      isStriped: true,
      isHoverable: true,
      isMobileCard: true,
      isPaginated: true,
      isPaginationSimple: false,
      paginationPosition: 'bottom',
      defaultSortDirection: 'asc',
      sortIcon: 'arrow-up',
      sortIconSize: 'is-small',
      currentPage: 1,
      perPage: 10
    }
  },

  methods: {
    modifyRedirect(row) {
      this.$emit('row-click', row)
    }
  }
}
</script>
