<template>
  <div>
    <form action="" @keyup.enter="editRedirect">
      <div class="modal-card" style="width: auto">
        <header class="modal-card-head">
          <p class="modal-card-title">Edit</p>
          <b-button
            class="button"
            type="button"
            icon-right="close"
            @click="$parent.close()"
          />
        </header>
        <section class="modal-card-body">
          <b-field label="Shortcut">
            <b-input
              ref="shortcutInput"
              v-model="redirect.shortcut"
              placeholder="Shortcut text"
              icon="key"
              required
            >
            </b-input>
          </b-field>

          <b-field label="URL">
            <b-input
              v-model="redirect.url"
              placeholder="Full URL"
              icon="arrow-decision"
              required
            >
            </b-input>
          </b-field>
        </section>
        <footer class="modal-card-foot">
          <b-button
            class="button is-primary"
            icon-left="check"
            @click="editRedirect"
            >Update</b-button
          >
          <b-button
            class="button is-danger"
            icon-left="delete-outline"
            @click="deleteRedirect"
            >Delete</b-button
          >
        </footer>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  props: {
    redirect: {
      type: Object,
      required: true
    }
  },

  mounted() {
    this.$refs.shortcutInput.focus()
  },

  methods: {
    async editRedirect() {
      try {
        await this.$store.dispatch('redirects/editRedirect', this.redirect)
        this.$emit('redirect-updated')
      } catch (e) {}
    },
    async deleteRedirect() {
      try {
        await this.$store.dispatch('redirects/deleteRedirect', this.redirect.id)
        this.$emit('redirect-updated')
      } catch (e) {}
    }
  }
}
</script>
