<template>
  <section class="section">
    <div class="level-right">
      <button
        class="button is-primary is-medium"
        @click="isCreateModalActive = true"
      >
        New
      </button>

      <b-modal
        :active.sync="isCreateModalActive"
        has-modal-card
        trap-focus
        :destroy-on-hide="true"
        aria-role="dialog"
        aria-modal
      >
        <add-redirector-form v-bind="formProps" @redirect-added="addRedirect" />
      </b-modal>
    </div>
    <filter-table :table-data="redirects" @row-click="updateRedirect" />
    <b-modal
      :active.sync="isUpdateModalActive"
      has-modal-card
      trap-focus
      :destroy-on-hide="false"
      aria-role="dialog"
      aria-modal
    >
      <update-redirector-form
        :redirect="formProps"
        @redirect-updated="updatedRedirect"
      />
    </b-modal>
  </section>
</template>

<script>
import { mapState } from 'vuex'
import FilterTable from '@/components/FilterTable.vue'
import AddRedirectorForm from '@/components/AddRedirectorForm.vue'
import UpdateRedirectorForm from '@/components/UpdateRedirectorForm.vue'

export default {
  name: 'Redirector',

  // middleware: 'auth',

  components: {
    FilterTable,
    AddRedirectorForm,
    UpdateRedirectorForm
  },

  async fetch({ store, error }) {
    try {
      await store.dispatch('redirects/fetchRedirects')
    } catch (e) {
      error({
        statusCode: 503,
        message:
          'Could not retrieve redirects at this time. Please try again later.'
      })
    }
  },

  data() {
    return {
      isCreateModalActive: false,
      isUpdateModalActive: false,
      formProps: {
        id: null,
        shortcut: '',
        url: ''
      }
    }
  },

  computed: mapState({
    redirects: (state) => state.redirects.redirects
  }),

  methods: {
    updateRedirect(row) {
      this.isUpdateModalActive = true
      this.formProps = {
        id: row.id,
        shortcut: row.shortcut,
        url: row.url
      }
    },
    addRedirect() {
      this.isCreateModalActive = false
    },
    updatedRedirect() {
      this.isUpdateModalActive = false
    }
  }
}
</script>
