<template>
  <section class="section">
    <h2 class="title is-3 has-text-grey">
      How to use Redirector
    </h2>
    <h3 class="subtitle is-6 has-text-grey">
      Author:
      <a href="https://gitlab.com/dazvid">
        David McLeod
      </a>
    </h3>
    <div>
      <h4 class="title is-4 has-text-grey">Firefox setup</h4>
      <ul>
        <li>Open the Bookmark library using Ctrl+Shift+B</li>
        <li>Create a new bookmark</li>
        <li>Name: <span class="has-text-weight-semibold">Redirector</span></li>
        <li>
          Location:
          <span class="has-text-weight-semibold"
            >https://redir.dazvid.net/redirect/%s</span
          >
        </li>
        <li>Keyword: <span class="has-text-weight-semibold">go</span></li>
        <li>
          You should now be able to type
          <span class="has-text-weight-semibold">go google</span> in your
          address bar and be redirected to www.google.com
        </li>
        <li>Add, update and delete any shortcut you'd like!</li>
      </ul>
    </div>
  </section>
</template>
